<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebDriverPath" value=".\WebDrivers" />
    <add key="siteURL" value="https://www.flipkart.com" />
    <add key="password" value="password" />
    <add key="WebDriverExplicitWait" value="20" />
    <add key="BrowserName" value="Chrome" />
    <add key="UserName" value="password" />
    <add key="UserPassword" value="password" />
  </appSettings>
</configuration>